.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: -10%;
  font-family: var(--main-font);
  color: white;
}

.modalContainer {
  background-color: var(--main-card-bg);
  /* height: 250px; */
  margin: auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.06);

  /* justify-content: center; */
  /* padding: 0 0px; */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid rgb(240, 239, 237);
}

.clearIcon {
  position: relative;
  right: 20%;
}

.crossContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 70px;
  height: 30px;
  width: 30px;
}

.crossContainer:hover {
  background-color: rgb(147, 146, 143);
  border-radius: 20px;
  cursor: pointer;
}

.headerText {
  margin-bottom: 0;
  margin-top: 0;
}

.mainText {
  position: relative;
  bottom: 20;
  /* border: 1px solid red; */
  width: 80%;
  text-align: center;
  font-size: x-large;
  margin-bottom: 20px;
  /* font-family: var(--main-font); */
}

.loginProviderContainer {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
