.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcastDetailsContainer {
  /* background-color: black; */
  background-color: var(--main-card-bg);
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
  /* border: 1px solid red; */
  color: white;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.textContentContainer {
  /* border: 1px solid red; */
  width: 100%;
  margin-left: 20px;
  /* display: flex;
  flex-direction: column; */
}

.episodeName {
  font-size: 30px;
  line-height: 1.2em;
}

.summarizeButton {
  flex: right;
  width: 48%;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #fff !important;
  background: none !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}
.summarizeButton:hover {
  border: 3px solid #fff !important;
  background: #fff !important;
  color: #333 !important;
}

.buttonContainer {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .podcastDetailsContainer {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 85%;
  }
  .textContentContainer {
    margin-top: 20px;
    /* border: 1px solid red; */
    /* margin-bottom: 20px; */
  }

  .buttonContainer {
    justify-content: center;
  }
  .episodeName {
    margin-bottom: 10px;
  }
  .date {
    margin-top: 10px;
  }
}
