.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1400px;
}

.linkContainer {
  max-width: 600px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.validOrNotContainer {
  width: 30px;
}

.linkInput {
  background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left;
  padding: 2px 12px 2px 30px;
  font-size: 16px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  /* margin-left: 20px; */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.03);
  transition: all 0.5s;
  margin-bottom: 25px;
  color: rgb(82, 179, 90);
}

.linkInput:focus {
  outline: none;
  border: 1px solid rgba(64, 88, 230, 0.03);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}

.errorContainer {
  background-color: rgb(224, 54, 66);
  padding: 10px;
  border-radius: 4px;
  font-size: 17px;
  color: #fff;
}
