.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-top: 30px; */
}

.linkContainer {
  width: 500px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.validOrNotContainer {
  width: 30px;
}
